# Read OH settings from .env/environment variables
OPENHUMANS_OH_BASE_URL='https://www.openhumans.org'
OPENHUMANS_CLIENT_ID='abcd'
OPENHUMANS_CLIENT_SECRET ='efgh'
OPENHUMANS_REDIRECT_URI='http://127.0.0.1:5000/complete-oh-oauth/'
