################################
#                              #
#   THIS IS A SECRET FILE!!!   #
#                              #
# Do not add your .env to git! #
#                              #
################################

# SECRET_KEY encrypts things. In production it should be a random string.
SECRET_KEY='randomstring'

# Set DEBUG as true in local production so you can see errors.
DEBUG='True'

# Optional, but you probably want this for logging and debugging.
PYTHONUNBUFFERED='true'

# Set DATABASE_URL to use something other than the default SQLite.
# DATABASE_URL=postgres:///myurl

# django-open-humans required configurations.
# You can find Client ID and secret in your project's info on Open Humans.
# APP_BASE_URL is the URL this project is running e.g. http://127.0.0.1:5000
# if using `heroku local` or https://myappname.herokuapp.com in Heroku.
OPENHUMANS_CLIENT_ID='client_id'
OPENHUMANS_CLIENT_SECRET='client_secret'
OPENHUMANS_APP_BASE_URL='http://127.0.0.1:5000/'

# Optional/advanced conf for django-open-humans. Default values shown below.
# OPENHUMANS_LOGIN_REDIRECT_URL='/'
# OPENHUMANS_OH_BASE_URL='https://www.openhumans.org'
