[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
django = "*"
django-open-humans = "*"
django-heroku = "*"
gunicorn = "*"
celery = "*"
redis = "*"
pandas = "*"

[requires]
python_version = "3.6"

[dev-packages]
