{% extends 'base.html' %}

{% block main %}

<h1 class="mt-5">Overland Connect</h1>

{% if not request.user.is_authenticated %}
<div class="row">
  <div class="col-md">
    <p>
      Connect to your <i>Open Humans</i> account to store location data from the <i>Overland</i> iPhone app.
    </p>
    <a href="{{ auth_url }}" class="btn btn-primary">
      Connect to Open Humans
    </a>
  </div>
  <div class="col-md">
    <h2>What is <i>Overland</i>?</h2>
    <p>
    <a href='https://overland.p3k.app/'>Overland</a> is a free and open source app <a href='https://overland.p3k.app/download'>for iOS</a>
    and <a href='https://play.google.com/store/apps/details?id=com.openhumans.app.overland'>for Android</a>.
    It tracks your location and sends your data to a server of your choosing. It is highly configurable to help you
    preserve privacy and battery life, if you wish to do so!
    </p>
    <p>
      Overland's data includes:
    </p>
    <ul>
      <li>Your continuous location data (latitude and longitude)</li>
      <li>Wifi network names</li>
      <li>Battery status</li>
    </ul>
    <h2>What does this website do?</h2>
    <p>
    If you log in with your <i>Open Humans</i> account you can use this app to transfer your <i>Overland</i> location data to your <i>Open Humans</i> account.
    </p>
    <p>This project is run by <a href="https://openhumansfoundation.org/">the Open Humans Foundation</a> and governed by the
      <a href="https://www.openhumans.org/terms/">Open Humans terms of use</a>.
    </p>
    <p>
      You can read more about its code, operation, and data management in our <a href='{% url 'about' %}'>About/FAQ page</a>.</p>
    <h2>Will <i>Open Humans</i> make my location data publicly available?</h2>
    <p>
    The short answer: No.<br>
    The long answer: Data is private by default. If you want to, you can opt to make data sets publicly available on <i>Open Humans</i> and/or share it with other projects, but you can always keep data private.
    </p>
  </div>
</div>
{% else %}

<div class="row">
  <div class="col-md">
    <h3>Your Overland data</h3>
    {%if overland_file%}
    <p>You already have Overland Location Data in your Open Humans account</p>
    <p><a href="{{ overland_file }}" class="btn btn-primary">
      Download your Data
    </a></p>
    {%else%}
    <p>You don't have any Overland data in your Open Humans account so far.
      Follow the steps below to start recording data:</p>
    {%endif%}
    <p>
      To push data from the <i>Overland</i> app on your phone to <i>Open Humans</i> you need to use the following URL as the <i>Receiver Endpoint</i> in the <i>Overland</i>:<br>
      <code name='overland_url'>{{ overland_endpoint }}</code>
      <button id="copy" class='btn btn-primary'>Copy URL</button>
    </p>
    <p>
      If you are on your computer right now and want to open these instructions on your iPhone you can scan the QR code
      below by just using the <i>Camera</i> app on your phone.
    </p>
    <p>
      The resulting website that will open contains all the information you will need.
    </p>
    <p>
      <div id="qrcode"></div>
      <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
      <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), "{{ overland_endpoint }}");
      </script>
    </p>
  </div>
  <div class="col-md">
    <h2>
      Set up <i>Overland</i> on your <i>iPhone</i>
    </h2>
  <p>
    After you have copied your personal Overland endpoint URL you can enter it in your Overland app on your phone:
    <ul>
      <li>Open the <i>Overland</i></li>
      <li>Open the <i>Settings</i> menu by clicking on the bottom right button</li>
      <li>On the top click on <i>Set Receiver Endpoint URL</i></li>
      <li>Paste the URL you copied from the left</li>
      <li>Press <i>Save</i></li>
      <li>You are done now. Don't forget to turn on <i>Tracking Enabled</i></li>
    </ul>
    {% load static %}
    <img width="49%" src="{% static 'img/howto1.jpg'%}"/>
    <img width="49%" src="{% static 'img/howto2.jpg'%}"/>
  </p>

  <h2>
    Set up <i>Overland</i> on your <i>Android</i> phone
  </h2>
<p>
  After you have copied your personal Overland endpoint URL you can enter it in your Overland app on your phone:
  <ul>
    <li>Open the <i>Overland</i></li>
    <li>Open the <i>Settings</i> menu by clicking on the bottom right button</li>
    <li>On the top click on <i>Set Receiver Endpoint URL</i></li>
    <li>Paste the URL you copied from the left</li>
    <li>Press <i>Save</i></li>
    <li>You are done now. Don't forget to turn on <i>Tracking Enabled</i></li>
  </ul>
  {% load static %}
  <img width="49%" src="{% static 'img/howto-android1.jpg'%}"/>
  <img width="49%" src="{% static 'img/howto-android2.jpg'%}"/>
</p>
  </div>


{% endif %}

{% endblock main %}
